@import ch.insign.commons.db.SmartForm
@(theForm: Form[_], formKey: String, label: String, o: Seq[(ch.insign.commons.db.Model,String)], emptyOption: String = null, select2me: Boolean = true, multiple: Boolean = false)(implicit handler: views.html.helper.FieldConstructor, messages: play.api.i18n.Messages)

@import views.html.helper.FieldElements
@import metronic._

@tpl = {
	@defining(theForm.asInstanceOf[SmartForm[_]]){ smartForm =>
	@defining(if(smartForm.isFieldEmpty(formKey+".id")) "" else theForm(formKey).sub("id").value){ value =>
	    <select id="@formKey" name="@{formKey + ".id"}" class="form-control @if(select2me){select2me}" @if(multiple){multiple}>
	    @if(emptyOption != null){
	    	<option value="0">@emptyOption</option>
	    }
	    @for(option <- o) {
	        <option value="@option._1.getId" @if(value == option._1.getId){selected}>@option._2</option>
	    }
	    </select>
	    }
}
}

@handler(
    FieldElements(
        formKey,
        theForm(formKey),
        tpl,
        scala.collection.immutable.Map('_label -> label),
        messages
    )
)