@(data: ch.insign.cms.blocks.sliderblock.SliderEntryBlock)
@import ch.insign.cms.views.html._blockBase
@import ch.insign.cms.models.Template

@_blockBase(data = data, delete=true, edit=true, add=false, color="red", name="Content", CssClass="col-md-12") {

    <div class="container-fluid">
        <div class="row">

            @if(data.getImage.nonEmpty()) {
                <div class="col-lg-3 col-lg-offset-2 col-md-4 col-md-offset-1 col-sm-5 col-xs-12 slider-img-box">
                    @if(data.isImageExist) {
                        <a href="@data.getLink" @if(data.isLinkInNewWindow){ target="_blank" }><img class="slider-img" src="@data.getImage.get()"></a>
                    } else {
                        <a href="@data.getLink" @if(data.isLinkInNewWindow){ target="_blank" }><img class="slider-img" src="@ch.insign.cms.views.html.tags._asset("frontend/img/theme/slides/slider-entry-fallback.png")"></a>
                    }
                </div>
            }

            <div class="col-md-7 col-sm-7 col-xs-12 slider-img-box-wrapper">
                <div class="slider-content-box">
                        @if(data.getTitle != null && !data.getTitle.get().equals("")) {
                        <h2 class="slider-title">@data.getTitle</h2>
                        }

                        @if(data.getText != null && !data.getText.get().equals("")) {
                            <p class="lead slider-text">@Template.html(data.getText)</p>
                        }

                        @if(!data.getLink.get().equals("") && !data.getLinkText.get().equals("")) {
                        <a href="@data.getLink" class="btn btn-primary" @if(data.isLinkInNewWindow){ target="_blank" }>@data.getLinkText</a>
                        }
                </div>
            </div>
        </div>
    </div>
}