@(data: ch.insign.cms.blocks.sliderblock.SliderCollectionBlock, editForm: Form[ch.insign.cms.blocks.sliderblock.SliderCollectionBlock], backURL: String)

@import metronic.text
@import ch.insign.cms.views.html.admin.baseBlockEdit
@import play.api.i18n.Messages
@import ch.insign.cms.models.Template
@import ch.insign.cms.models.CMS
@import ch.insign.cms.controllers.routes.BlockController
@import ch.insign.cms.blocks.sliderblock.SliderEntryBlock
@import helper.form
@import ch.insign.cms.views.html.admin.deleteBlockModal
@import ch.insign.commons.i18n.Language
@import ch.insign.cms.blocks.sliderblock.SliderEntryBlock
@import ch.insign.cms.views.html.tags._

@pageHeader = {
    <link rel="stylesheet" type="text/css" href="@_asset("backend/navigation-overview.css")" />
}

@pageFooter = {
    <script src="@_asset("backend/js/slider-collection.js")"></script>
    <script src="@_asset("javascripts/blocks.js")"></script>
    <script src="@_asset("backend/js/blocks-sortable.js")"></script>
}

@for(sub <- Template.filterPermitted(data.getSubBlocks)) {
    @form(BlockController.delete(sub.getId, request.uri()), 'id -> ("delete-block-form-" + sub.getId), 'class -> "hide") {
        <button class="deleteBlock"
            data-deleted-block-name="@sub.getClass.getSimpleName">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    }
}

@baseBlockEdit(data, editForm, backURL, Messages("slider.collection.block.edit.title"), pageHeader, pageFooter){

    <input type="hidden" name="sliderEntryOrder" id="slider-entry-order" value="[]">

    @text(
        editForm,
        "backgroundWidth",
        Messages("slider.collection.block.field.backgroundWidth.label"),
        Messages("slider.collection.block.field.backgroundWidth.label")
    )

    @text(
        editForm,
        "backgroundHeight",
        Messages("slider.collection.block.field.backgroundHeight.label"),
        Messages("slider.collection.block.field.backgroundHeight.label")
    )

    @if(Template.filterPermitted(data.getSubBlocks).size > 0) {
        <div class="dd" id="slider-entities">
            <ol class="dd-list">
                @for(sub <- Template.filterPermitted(data.getSubBlocks)) {
                    @Option(sub.asInstanceOf[SliderEntryBlock]).map { slider =>
                       <li class="dd-item" data-id="@sub.getId">
                            <div class="dd-handle">
                                @CMS.getConfig.frontendLanguages.filter(lang => slider.getTitle.get(lang).nonEmpty).map { lang =>
                                    <span class="badge badge-primary">@lang.toUpperCase</span>
                                }
                                @CMS.getConfig.frontendLanguages.find(lang => slider.getTitle.get(lang).nonEmpty).map { lang =>
                                    @slider.getTitle.get(lang)
                                }
                            </div>
                            <div class="nestable-list-actions" style="display: block">
                                <a href="@BlockController.edit(slider.getId, request.uri)" title="@Messages("btn.edit")" class="add-edit-lang">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <a role="button" class="deleteBlock"
                                    data-deleted-block-name="@slider.getClass.getSimpleName" data-form-id="delete-block-form-@slider.getId"
                                    href="@BlockController.delete(slider.getId, request.uri)" title="@Messages("btn.delete")">
                                    <i class="fa fa-trash"></i>
                                </a>

                            </div>
                        </li>
                    }
                }
            </ol>
        </div>
    }
    <a href="@BlockController.create(classOf[SliderEntryBlock].getCanonicalName, data.getId, request.uri)" class="btn btn-primary">
        <i class="fa fa-plus"></i> @Messages("slider.entry.add.button")
    </a>

}

@deleteBlockModal(Messages("slider.entry.delete.modal.title"))
