
// contains relative references which won't work with "inline" import
@import (css) "lib/uniform/themes/default/css/uniform.default.css";

@import (less) "vendor/jquery.nestable.css";

@import (less) "lib/jquery-ui/themes/base/minified/jquery-ui.min.css";


@import "lib/bootstrap/less/bootstrap";
@icon-font-path: "/lib/bootstrap/fonts/";

@import (less) "plugins/bootstrap-datetimepicker-master/build/css/bootstrap-datetimepicker.css";

@import (less) "plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css";

// Unfortunately DT_bootstrap.css contains relative references which won't work with "inline" import
@import (css) "lib/datatables-bootstrap/DT_bootstrap.css";

@import (less) "lib/bootstrap-modal/css/bootstrap-modal-bs3patch.css";

@import (less) "lib/bootstrap-modal/css/bootstrap-modal.css";

@import "lib/bootstrap-tagsinput/dist/bootstrap-tagsinput";

@import (less) "lib/jquery-typeahead/dist/jquery.typeahead.min.css";

@import (less) "lib/chosen/chosen.min.css";

@import (less) "lib/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css";

@import (less) "plugins/select2/select2_metro.css";

@import (less) "lib/font-awesome/less/font-awesome";
@fa-font-path: "/lib/font-awesome/fonts";

//@import (less) "lib/font-awesome/less/bootstrap";
@fa-css-prefix:       fa;

@import (less) "css/style-metronic.css";

@import (inline) "fonts/font.css";/* Load Open Sans Font locally */

@import (inline) "css/style.css";

@import (less) "css/style-responsive.css";

@import (less) "css/plugins.css";

@import (less) "css/themes/light.css";

@import (less) "css/custom.css";

@import "_emailTemplates";

@import (css) "lib/fancybox/jquery.fancybox.css";