@(emailTemplateForm: Form[ch.insign.cms.models.CustomerEmailTemplate])

@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.helpers.formKeyAdditional
@import ch.insign.cms.views.html.helpers.formKey
@import ch.insign.cms.views.cms.templateCmsHorizontalAdminConstructor
@import ch.insign.commons.i18n.Language
@import ch.insign.cms.controllers.CmsContext

@util.Javascript.add {
    <script>
    mstring.init("@Option(CmsContext.current).map(_.getLanguage).filter(_.nonEmpty).getOrElse(Language.getDefaultLanguage)");
    </script>
}

@pageFooter = {
    <script type="text/javascript">
    ( function ( $ ) {
    $ ( 'textarea[id^="content"]' ).css ( 'height', '500px' )
    } ) ( jQuery ) ;
    </script>
}

@ch.insign.cms.views.html.admin.emailTemplate.add(emailTemplateForm, true) {
    @formKeyAdditional("typeList*")

    <div class="form-group">
        @metronic.container(emailTemplateForm("typeList"), Messages("backend.customer.user.emailTemplate.typeList.label")) {
            @ch.insign.cms.models.CustomerEmailTemplate.UserFormType.values().map { formType =>
                <label class="checkbox-inline">
                    <input type="checkbox" name="typeList[]" value="@formType"
                    @for(i <- 0 to ch.insign.cms.models.CustomerEmailTemplate.UserFormType.values().size) {
                        @Option(emailTemplateForm.data.get("typeList[" + i + "]")).filter(_ == formType.name).map { _ =>
                            checked
                        }
                    }
                    >
                    @Messages("backend.customer.user.emailTemplate.type." + formType.name().toLowerCase)
                </label>
            }
        }
    </div>
}


