@(a: ch.insign.cms.views.admin.utils.AdminContext)

@if(!Option(a.getSuccessMessage).getOrElse("").isEmpty) {
    <div class="alert alert-success">
    @a.getSuccessMessage
    </div>
}

@if(!Option(a.getInfoMessage).getOrElse("").isEmpty) {
    <div class="alert alert-info">
    @a.getInfoMessage
    </div>
}

@if(!Option(a.getWarningMessage).getOrElse("").isEmpty) {
    <div class="alert alert-warning">
    @a.getWarningMessage
    </div>
}

@if(!Option(a.getErrorMessage).getOrElse("").isEmpty) {
    <div class="alert alert-danger">
    @a.getErrorMessage
    </div>
}